*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* border: 2px solid black; */
}

:root {
    --backgroundColor: rgb(19, 8, 65);
    --greyBlock: rgb(70, 67, 83);
    --blueButton: rgb(29, 33, 228);
    --cyanButton: rgb(49, 165, 156);
    --correctGreen: rgb(0, 165, 28);
    --wrongRed: rgb(176, 0, 0);
}

body {
    background-color: var(--backgroundColor);
    color: white;
}

button {
    outline: none;
    border-radius: 7px;
    border: none;
}

.main-header {
    font-size: 2rem;
    margin: 20px, 0px;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
}

.main-nav {
    display: flex;    
}

.main-nav a {   
    text-decoration: none;
    color: white;
}

.main-nav a:hover {
    opacity: 0.8;
    background-color: rgba(27, 19, 82, 0.8);
}

.horizontal-container {
    display: flex;
    align-items: flex-start;
    gap: 10%;
}

.display-controls-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 40px;
}

.display-control-item {
    padding: 10px;
}

.health-bar {
    position: relative;
    margin: 10px 0px;
    height: 20px;
}

.health-bar span {
    position: absolute;
    width: 50%;
    height: 100%;
}

.remaining-tag .health-bar {background-color: rgb(148, 166, 255);}
.remaining-tag span {background-color: blue;}
.incorrect-tag .health-bar {background-color: rgb(255, 166, 166);}
.incorrect-tag span {background-color: red;}
.correct-tag .health-bar {background-color: rgb(199, 255, 192);}
.correct-tag span {background-color:  green;}

.ans-with-term-button,
.ans-with-def-button {
    padding: 10px;
    background-color: var(--blueButton);
    color: white;
}

/* applied class */
.box-shadow-button {
    box-shadow: 0 0 2px 3px;
}


.write-card {
    background-color: var(--greyBlock);
    margin: 20px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;

    width: 60%;
}

.term {
    padding: 30px;
    font-size: 2rem;
}

.input-and-button-wrapper {
    display: flex;
    gap: 20px;
}

.input-and-button-wrapper input {
    border: 2px solid var(--cyanButton);
    font-size: 2rem;

    /* suspicious */
    width: 100%;
}

.input-and-button-wrapper input:focus {
    box-shadow: 0 0 3px 3px var(--cyanButton);
}

.input-and-button-wrapper button {
    padding: 10px;
    background-color: var(--blueButton);
    color: white;
    font-size: 1.2rem;

}

.accent-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.accent-buttons button {
    padding: 10px;
    background-color: var(--cyanButton);
    color: white;
    font-size: 1.1rem;
}


.after-submitted {
    margin: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 1.7rem;
}

.after-submitted button {
    padding: 10px;
    background-color: var(--blueButton);
    color: white;
}


.end-of-round-table {
    margin: 20px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--greyBlock);

    width: 60%;
}

.term-def-table {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px 20px;
    font-size: 2rem;
}

.end-of-round-button {
    padding: 10px;
    background-color: var(--blueButton);
    color: white;
}


.finish-screen {
    margin: 20px;
    padding: 20px;
    background-color: var(--greyBlock);
    text-align: center;

    width: 60%;
}

.finish-screen h1 {
    padding: 30px;
}

.finish-screen button {
    padding: 10px;
    background-color: var(--blueButton);
    color: white;
    margin: 0px 40px;
}

.finish-screen a {
    text-decoration: none;
    color: white;
}



/* universal class */
.hide {
    display: none;
}

.correct-color {
    color: var(--correctGreen);
}

.wrong-color {
    color: var(--wrongRed)
}


/* to all buttons */
button:focus {
    box-shadow: 0 0 2px 3px;
}


/* COPIED FROM styles.css */


::placeholder {
    color: rgba(255, 255, 255, 0.596);
}

/* kinda lazy lol */
button:hover {
    cursor: pointer;
    opacity: 0.7;
}